/.cloud/
/.history/
/.storage/
/tts/
/www/community/
/www/person/
/www_protected/

/.HA_VERSION
/home-assistant_v2.db
/home-assistant_v2.db-shm
/home-assistant_v2.db-wal
/home-assistant.log
/secrets.yaml

__pycache__/

/lovelace
/packages
/configuration.yaml
/ui-lovelace.yaml
